body *{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

a{
    -webkit-text-size-adjust:none;
    text-decoration: none;
}

.container{
    width: 100%;
    padding:0 99px 0 101px;
    background-color:#E93E3B;
}

.header{
    width:100%;
    height: 116px;
}

.header td:first-child{
    width:221px;
}

.header td:nth-child(3){
    width: 140px;
}

.header__contact-link{
    display: block;
    color:#fff;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.main{
    width: 100%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    /* padding:0 18px; */
    border-collapse: separate;
}

/* .main tr{
    border-bottom: #EEEEEE 5px solid;
} */

.main>tr:not(:last-child)>td:last-child, .main>tr:not(:last-child)>td:nth-last-child(2){
    padding-bottom: 16px;
    border-bottom: #EEEEEE 5px dotted;
}

.main>tr:nth-last-child(2)>td{
    border: none;
}

.order-header{
    padding:40px 0;
    text-align: center;
}

.order-header__img{

}

.order-header__title{
    height: 52px;
    display: inline-block;
    position: relative;
    top: -20px;
    /* font-family: 'Open Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #29282D;
    text-align: left;
}

.order-info, .order-info_another{
    width: 100%;
    padding:0 18px;
}

.order-info tr td:not([colspan]){
    width: 50%;
}

.order-info tr:first-child td,  .order-info_another tr:first-child td{
    padding-top: 23px;
}

.order-info__title{
    /* padding-top: 23px; */
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    color: #29282D;
}

.order-info_phone td{
    padding-top: 23px;
    padding-bottom: 23px;
}

.order-info__field{
    display: block;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 29px;
    color: #818181;
}

.order-info__value{
    display: block;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    color: #29282D;
}


.order-items{
    width: 100%;
}

.order-items td{
    font-size: 12px;
}

.order-items__col-title{
    width:15%;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: 300;
    /* font-size: 12px; */
    line-height: 29px;
    color: #818181;
    border-bottom:1px solid #EEEEEE;
}

.order-items__col-title:first-child{
    width:15%;
}

.order-items__col-title:nth-child(2){
    width:20%;
}

.order-items__col-title:nth-child(3){
    width:35%;
}

.order-items__col-title:nth-last-child(2){
    width:15%;
}

.order-items__col-title:last-child{
    width:12%;
}

.order-items tr:nth-child(2) td{
    padding-top: 20px;
}

.order-items tr:last-child td{
    padding-bottom:  30px;
}

.order-item__img{
    width: 65px;
    height:46px;
    object-fit: cover;
}

.order-contacts{
    background: #FFD600;
    width: 100%;
    height: 159px;

}

.order-contacts{
    text-align: center;
    border-radius:  0px 0px 10px 10px;
}

.order-contacts td:first-child{
    padding: 32px 0 32px 31px;
}

.order-contacts td:nth-child(2){
    padding: 32px 31px 32px 0;
}

.order-contacts__title{
    display: block;
    margin-bottom: 5px;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #29282D;
}

.order-contacts__tel{
    display: block;
    /* font-family: Open Sans; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #29282D;
}

.order-contacts__insta{
    display: block;
    /* font-family: Open Sans; */
    text-decoration: underline;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #29282D;
}

.order-contacts__insta span{
    vertical-align: top;
    margin-left: 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
}

.order-contacts__tel:first-child, .order-contacts__insta{
    margin-top: 5px;
}

.footer{
    width: 100%;
    height: 144px;;
}

.footer td{
    text-align: center;
}

.footer__text{
    display: inline-block;
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__link{
    display: block;
    margin-top: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.footer__email{
    color:#ffffff;
    text-decoration: none;
}






